body {
  color: #fbf9f5;
}

.btn {
  height: 48px;
  color: #fbf9f5;
}

.btn:hover {
  color: #fbf9f5;
}

.nav-link {
  color: #a08820;
}

.nav-link:hover {
  color: #e9d480;
}

.header {
  height: 750px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/HOMEPAGE.png") center center no-repeat;
  background-size: cover;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-transparent {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar-link-secondary {
  color: #fbf9f5;
}

.carousel-item img {
  height: 640px;
}

#logo1 {
  transition: all 0.5s ease-in-out;
}

#logo2 {
  transition: all 0.5s ease-in-out;
}

button.carousel-control-prev span,
button.carousel-control-next span {
  opacity: 1;
  background-color: #a08820;
  border-radius: 20px;
  padding: 1.1rem;
}

@media (max-width: 992px) {
  .navbar {
    background: var(--bs-dark);
  }
  button.carousel-control-prev span,
  button.carousel-control-next span {
    opacity: 0.8;
    background-color: #a08820;
    border-radius: 20px;
    padding: 1.5rem;
  }
}
