body{
    background-color: #000;
}
.prox{
    color: #c2c2c2;
}
.top{
    height: 200px;
    color: #fff;
    text-align: center;
}

.portada{
    width: 100%;
}

.social 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bottom{
    margin-top: 15px;
    height: auto;
    color: #fff;
    text-align: center;
}

.facebook-cont{

    
}

.facebook-cont img{
    width: 50px;
    height: 50px;
    
    }

    .insta-cont{
        margin-left: 5px;
        
    }
.insta-cont img{
    width: 50px;
    height: 50px;
}
